/* google fonts */
.raleway_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* shared styles */
.primary_color{
    color:#4E47FF;
}

.btn{
    color:#FFFFFF;
    background-color: #4E47FF;
    padding:12px 36px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

body{
    /* background-color: #b6bcca69; */
}

/* header section styles */
header{
    background: url(/images/Hero-bg.png);
}

nav{
    width:80%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding:50px 0;
}

nav h1{
    font-size:34px;
}
.banner{
    width:905px;
    margin: auto;
    text-align:center;
}

.banner p{
    font-weight:bold;
    font-size: 65px;
    margin-bottom: 37px;
}
.banner button{
    margin-bottom: 200px;
}



/* action section styles */

.action_section{
    width:80%;
    display: flex;
    margin: 150px auto;
    justify-content: space-between;
    align-items: center;
}

.action_content{
    width:240px;
}

/* .action_image{
    width:403px;
    height:328px;
} */

.action_image img{
    border-radius: 48px;
    /* width:100%; */
}

.action_content h3{
    font-weight:bold;
    font-size:42px;
}

.action_content p{
    font-size: 24px;
    color: #25243250;
}

/* productive user section styles */
.productive_user{
    width:80%;
    border-radius: 24px;
    background-color: #4E47FF10;
    margin:0 auto;
    padding:50px 80px;
}

.productive_user h1{
    text-align: center;
    font-weight:bold;
    font-size:38px;
}

.productive_user_main_div{
    display: flex;
    justify-content:space-between;
}

.productive_user_main_div h1{
    font-weight: bold;
    font-size: 80px;
    color:#4E47FF;
}
.productive_user_main_div p{
    font-size:20px;
    color:rgba(0, 0, 0, 0.5);
    margin-top:-50px;
}


/* review section styles */
.review_section{
    width: 80%;
    margin: 120px auto;

}

.review_section h1{
    font-weight: bold;
    font-size: 42px;
    text-align:center;
    margin-bottom: 50px;
}

.review_container{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.review_box{
    padding:24px;
    border: 1px solid #F2EDED;
    border-radius: 14px;
}


.review_content{
    margin:24px auto;
}

.reviewer_name{
    display: flex;
    gap:10px;
    align-items: center;
}
.reviewer_name h5{
    color:#757575;
    font-weight:bold;
    font-size:16px;
}
.reviewer_name p{
    color:#B3B3B3;
    font-size:16px;
    margin-top:-25px;
}

.reviewer_name .image{
    height: 40px;
    width:40px;
}
.reviewer_name .image img{
    border-radius: 20px;
}