/* google fonts */
.raleway_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* shared styles */
.primary_color{
    color:#4E47FF;
}

.btn{
    color:#FFFFFF;
    background-color: #4E47FF;
    padding:12px 36px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

 .btn:hover{
background-color:rgb(128, 27, 138);
}



body{
    background-color: #f1f1f5;
}




/* header section styles */
header{
    background: url(/images/Hero-bg.png);
}

nav{
    width:80%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding:50px 0;
}

nav h1{
    font-size:34px;
    font-weight: 900;
}
.banner{
    width:905px;
    margin: auto;
    text-align:center;
}

.banner p{
    font-weight:bold;
    font-size: 65px;
    margin-bottom: 37px;
}
.banner button{
    margin-bottom: 200px;
}



/* action section styles */

.action_section{
    width:80%;
    display: flex;
    margin: 150px auto;
    justify-content: space-between;
    align-items: center;
}

.action_content{
    width:240px;
}

/* .action_image{
    width:403px;
    height:328px;
} */

.action_image img{
    border-radius: 48px;
    /* width:100%; */
}

.action_content h3{
    font-weight:bold;
    font-size:42px;
}

.action_content p{
    font-size: 24px;
    color: #25243250;
}

/* productive user section styles */
.productive_user{
    width:80%;
    border-radius: 24px;
    background-color: #4E47FF10;
    margin:0 auto;
    padding:50px 80px;
}

.productive_user h1{
    text-align: center;
    font-weight:bold;
    font-size:38px;
}

.productive_user_main_div{
    display: flex;
    justify-content:space-between;
}

.productive_user_main_div h1{
    font-weight: bold;
    font-size: 80px;
    color:#4E47FF;
}
.productive_user_main_div p{
    font-size:20px;
    color:rgba(0, 0, 0, 0.5);
    margin-top:-50px;
}


/* review section styles */
.review_section{
    width: 80%;
    margin: 120px auto;

}

.review_section h1{
    font-weight: bold;
    font-size: 42px;
    text-align:center;
    margin-bottom: 50px;
}

.review_container{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.review_box{
    padding:24px;
    border: 1px solid #F2EDED;
    border-radius: 14px;
    background-color: #FFFFFF;

}


.review_content{
    margin:24px auto;
}

.reviewer_name{
    display: flex;
    gap:10px;
    align-items: center;
}
.reviewer_name h5{
    color:#757575;
    font-weight:bold;
    font-size:16px;
}
.reviewer_name p{
    color:#B3B3B3;
    font-size:16px;
    margin-top:-25px;
}

.reviewer_name .image{
    height: 40px;
    width:40px;
}
.reviewer_name .image img{
    border-radius: 20px;
}




/* focus section styles */
.focus_section{
    height: 697px;
    width:1140px;
    text-align: center;
    border: 1px solid #f2eded8e;
    margin: 0 auto;
    border-radius: 14px;
    background-color: #FFFFFF;

}


.focus_section h1{
    font-weight:bold;
    font-size:50px;
}

.focus_section p{
    color:rgba(0, 0, 0, 0.5);
}
.focus_section button{
    display: block;
    margin: 20px auto;
}

.focus_section img{
    border-radius: 48px;
}

/* input section styles */

.input{
    width: 90%;
    margin:100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input_title{
    width: 50%;
}
.form{
    width: 40%;
    
}

.input h1{
    font-weight: bold;
    font-size: 97px;
}
.input label{
    display: block;
    font-weight:600;
    font-size: 18px;
}

.form input,
.form textarea{
    height:30px;
    width: 80%;
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    margin: 10px 0 20px;
}
.form textarea{
    height: 70px;
}
.form button{
    width: 95%;
    padding: 19px 0;
}

/* footer section style */

footer{
        border-top:1px solid #D6DDED;
        background-color: #FFFFFF;
        padding: 50px;

}

.footer_container{
    color:#8987A1;
    width: 550px;
    margin: 100px auto;
    text-align: center;
}
footer h1{
    font-weight: bold;
    font-size:100px;
    color:#4E47FF;
    margin-bottom: -15px;
}

footer ul{
    display: flex;
    justify-content: space-around;
}
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
    color:#8987A1;
}

